.address-top .toolbar-mainbar:after{
	height: 0;
}
.color-behind-tabs-on .SearchField,.color-behind-tabs-on .UrlBar-AddressField,.vivaldi-settings .settings-sidebar .button-category.category-selected{
	border: none;
}
.color-behind-tabs-on .SearchField:focus-within,.color-behind-tabs-on .UrlBar-AddressField:focus-within{
	outline: none;
}
.tab-position .tab,.tab-position .tab .close,.toolbar-tabbar .button-toolbar button,.toolbar-tabbar .toolbar-group .button-toolbar button{
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}
.toolbar-tabbar .button-toolbar button,.toolbar-tabbar .toolbar-group .button-toolbar button{
	background-color: none;
}
#panels-container.left:not(.overlay) .panel-group, #panels-container.left.icons .panel-group, #panels-container.left.icons.overlay,.vivaldi-settings .settings-sidebar{
	box-shadow: none;
}
.vivaldi-settings .settings-sidebar{
	background: var(--colorBg);
}
:focus,.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row[data-selected] .button-category:not(:active){
	outline: none;
}